[Unit]
Description=cache_warmer
After=network.target

[Service]
ExecStart=/services/cache_warmer/venv/bin/python3 /services/cache_warmer/src/cache_warmer/scheduler.py
Restart=always
User=root
WorkingDirectory=/services

# Logging settings
StandardOutput=append:/var/log/cache_warmer.log
StandardError=append:/var/log/cache_warmer.log

[Install]
WantedBy=multi-user.target
